.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex: 1;
}
.header{
    width: 100%;
    height: 40px;
    background-color: #FFE880;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerTitle{
    font-weight: 720;
}
.arrow{
    color: #858489;
}
.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.sidebar{
    
}