.cartContainer{
    padding: 0 10px;
    margin-left: 10px;
    border-left: 1px solid #DDDDE3;
    cursor: pointer;
}
.cartIcon{
    padding: 5px;
    border-radius: 5px;
}

.cartIcon:hover{
    background-color: #CEE1FF;
}